<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ysww.internationalfreightforwarding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        tools:replace="android:allowBackup"
        android:name=".app.IFF_App"
        android:allowBackup="false"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.IFF_SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Appwelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.IFF_LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_Quotation_OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.IFF_Order_DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.IFF_Supplier_QuotationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.IFF_Collect_Send_InformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_Close_The_OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.IFF_Question_ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.IFF_HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_New_0rderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_New_0rder_CopyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_Clearing_InformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_Select_Information1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_Select_Information2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_Amend_The_OrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.IFF_Quotation_InformationActivity" />
        <activity
            android:name=".view.IFF_Amend_The_Order_Select_Information2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.IFF_Reply_ProblemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>